body{
    padding: 0px;
    margin: 0px;
    
}
.head{
    background-color: blue;
    width: 100%;
    height: 120px;
    padding: 20px;
}
h1{
    text-align: center;
}

.bottom{
    width: 100%;
    height: 500px;
    background-color:brown;
}
.left{
    width: 30%;
    height: 100%;
    background-color: aqua;
}
nav h1 .one{
    border-bottom: white;
    border-width: 2px;
    border-style: solid;
    height: 20px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
   
}

